@import "../reindeer/styles.css";

.v-app {
    background: #000066;
}

.AppWindowHeader {
    color: white;
}
.WhiteLink {
    color: white;
}
.headerRealName {
    font-size: 24px;
}
.MessageContentPreview {
    margin-bottom: 5px;
}

.DetailEditPanel {
}

.PatternBar { 
    background-image: none;
    font-size: 125%;
    line-height: 125%;
    background-color: gray;
}
